.button {
    border: none;
    background: transparent;
    font-size: 18px;
    border: 2px solid #76c3ff;
    padding: 20px 60px;
    position: relative;
    z-index: 20;
    color: #000;
    overflow: hidden;
    transition: color 0.3s ease-in-out;

    &:after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        background: #76c3ff;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 0.3s ease-in-out;
    }

    &:hover {
        color: #fff;

        &:after {
            z-index: -1;
            width: 100%;
            right: auto;
        }
    }
}
