* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", sans-serif;
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    -webkit-tap-highlight-color: transparent;

    &:focus {
        outline: none;
    }
}

input {
    &:focus,
    &:hover,
    &:active {
        outline: none;
    }
}
